@{
  ViewData["Title"] = "Delete Product";
}

@model GeekShopping.Web.Models.ProductModel

<div class="container p-4 border mt-4">
  <div class="row pb-2">
    <div class="col-12">
      <h1 class="fs-1">Delete Product</h1>
    </div>
    <div class="container mt-4">
      <form asp-action="Delete">
        <input asp-for="Id" hidden>
        <div class="row">
          <div class="alert alert-danger mt-2 mb-2" role="alert" asp-validation-summary="ModelOnly"></div>
          <div class="col-6 mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" tabindex="1">
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="col-4 mb-3">
            <label class="form-label" asp-for="CategoryName"></label>
            <input type="text" class="form-control" asp-for="CategoryName" tabindex="2">
            <span asp-validation-for="CategoryName" class="text-danger"></span>
          </div>
          <div class="col-2 mb-3">
            <label class="form-label" asp-for="Price"></label>
            <span class="form-control" tabindex="3">@Model.Price</span>
          </div>
          <div class="col-12 mb-3">
            <label class="form-label" asp-for="ImagemURL"></label>
            <input type="text" class="form-control" asp-for="ImagemURL" tabindex="4">
            <span asp-validation-for="ImagemURL" class="text-danger"></span>
          </div>
          <div class="col-12 mb-3">
            <label class="form-label" asp-for="Description"></label>
            <textarea rows="3" class="form-control" asp-for="Description" tabindex="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
          </div>          
          <div class="col-12 mb-3 mt-3">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="d-grid">
                    <a asp-action="Index" class="btn btn-primary form-control" tabindex="6">Back to List</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-grid">
                    <input type="submit" value="Delete" class="btn btn-danger form-control" tabindex="5">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial">
  }