@{
  ViewData["Title"] = "Products List";
}

@model IEnumerable<GeekShopping.Web.Models.ProductModel>

<div class="container p-4 border">
  <div class="row pb-2">
    <div class="col-6">
      <h1 class="fs-1">Products List</h1>
    </div>
    <div class="col-6 text-end pt-1">
      <a class="btn btn-outline-success" asp-action="Create">
        <i class="fas fa-plus"></i> Create New Product
      </a>
    </div>
    <div class="col-12 mt-4">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>@item.Name</td>
              <td>@item.CategoryName</td>
              <td>@((item.Price).ToString("c"))</td>
              <td>
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary" role="button">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" role="button">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>